<div>
    {{disc.name}}
    <div>
        <table border="1px">
            <thead>
                <tr>
                    <th>Song</th>
                    <th>Plays in millions</th>
                    <th>Duration</th>
                </tr>
            </thead>
            <tbody>
                <div *ngIf="disc.songs.length >= 1;then list else empty"></div>  
                <ng-template #list>
                    <tr *ngFor="let s of disc.songs">
                        <td>{{s.song}}</td>
                        <td>{{s.plays}}</td>
                        <td>{{s.duration}}</td>
                    </tr>                    
                </ng-template>
                <ng-template #empty>
                    No songs in the disc
                </ng-template>
            </tbody>
        </table>
    </div>
</div>
