<table *ngIf="dataTable.length > 0">
    <tr>
        <th *ngFor="let key of keysTable"> {{key}}  </th>
        <th *ngIf="keysTable.length > 0"> Foto Personal  </th>
    </tr>
    <tr *ngFor="let item of dataTable">
        <th *ngFor="let key of keysTable"> {{getCellValue(key, item)}}  </th>
        <th> <img *ngIf="item.fotoPersonal!=''" src="{{item.fotoPersonal}}"> </th>
    </tr>
</table> 




<form  class="in" *ngIf="_input=='detalle'"
[formGroup]="deletePacienteForm"
(submit)="deletePaciente()">
            
            Eliminar Paciente

            <input class='in' type="text" 
            formControlName="id"
            placeholder="ID del Paciente">

            <button type="submit"
            [disabled]="deletePacienteForm.invalid"
            class="in">
             
                Eliminar
            
            </button>

</form>


<form  class="in" *ngIf="_input=='detalle'"
[formGroup]="updatePacienteForm"
(submit)="updatePaciente()">
            
            Actualizar Paciente

            <input class='in' type="text" 
            formControlName="id"
            placeholder="ID del Paciente">

            <button type="submit"
            [disabled]="updatePacienteForm.invalid"
            class="in">
             
                Actualizar
            
            </button>

</form>


<div *ngIf="_input=='busqueda'" >

    <form  class="in" 
        (submit)="toSearch('sexo')">
                    <select class='in' id="input-sexo">
                        <option value='' selected disabled style='display: none;'>
                            Seleccionar Sexo
                        </option>
                        <option value='hombre'>Hombre</option>
                        <option value='mujer'>Mujer</option>
                    </select>
                    <button class="in">
                        Buscar por sexo 
                    </button>
        </form>

        <form  class="in" 
        (submit)="toSearch('enfermedad')">  
                    <input class='in' type="text"  
                    id="input-enfermedad"
                    placeholder="Enfermedad">
                    <button class="in">
                        Buscar por Enfermedad
                    </button>
        </form>


        <form  class="in" 
        (submit)="toSearch('fechaIngreso')">
                    <input class='in' type="date" id="input-fechaIngreso" >
                    <button class="in">
                        Buscar por Fecha
                    </button>
        </form>

</div>

