
 <div class="w3-container" style="margin-top: 20px">
    <table class="w3-table-all" *ngIf="dataTable.length > 0">
        <thead>
                <tr class="w3-blue" >
                    <th *ngFor="let key of keysTable"> {{key}}  </th>
                    <th *ngIf="keysTable.length > 0"> Foto Personal  </th>

                    <th *ngIf="_input=='detalle'">
                       
                    </th>

                    <th *ngIf="_input=='detalle'">
                        
                    </th>

                </tr>
        </thead>
        <tr *ngFor="let item of dataTable">
            <th *ngFor="let key of keysTable"> {{getCellValue(key, item)}}  </th>
            <th (click)="viewImg(item)" style="cursor: pointer">

                 <span  *ngIf="item.fotoPersonal!=''" id="ver-foto-icon-{{item._id}}"
                  style="text-decoration: underline">Ver Foto</span>

                 <img id="ver-foto-img-{{item._id}}" src="{{item.fotoPersonal}}" style="display: none"> 

            </th>
            <th *ngIf="_input=='detalle'" (click)="updatePaciente()" style="cursor: pointer">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </th>

            <th *ngIf="_input=='detalle'" (click)="deletePaciente()" style="cursor: pointer">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </th>
        </tr>
    </table> 
</div>


<!-- <form  class="section-form" *ngIf="_input=='detalle'"
[formGroup]="deletePacienteForm"
(submit)="deletePaciente()">
            
            Eliminar Paciente

            <input class='in' type="text" 
            formControlName="id"
            placeholder="ID del Paciente">

            <button type="submit"
            [disabled]="deletePacienteForm.invalid"
            class="in">
             
                Eliminar
            
            </button>

</form>


<form  class="section-form" *ngIf="_input=='detalle'"
[formGroup]="updatePacienteForm"
(submit)="updatePaciente()">
            
            Actualizar Paciente

            <input class='in' type="text" 
            formControlName="id"
            placeholder="ID del Paciente">

            <button type="submit"
            [disabled]="updatePacienteForm.invalid"
            class="in">
             
                Actualizar
            
            </button>

</form> -->


<div *ngIf="_input=='busqueda'" >

    <form  class="section-form" 
        (submit)="toSearch('sexo')">
                    <select class='in' id="input-sexo">
                        <option value='' selected disabled style='display: none;'>
                            Seleccionar Sexo
                        </option>
                        <option value='hombre'>Hombre</option>
                        <option value='mujer'>Mujer</option>
                    </select>
                    <button class="in">
                        Buscar por sexo 
                    </button>
        </form>

        <form  class="section-form" 
        (submit)="toSearch('enfermedad')">  
                    <input class='in' type="text"  
                    id="input-enfermedad"
                    placeholder="Enfermedad">
                    <button class="in">
                        Buscar por Enfermedad
                    </button>
        </form>


        <form  class="section-form" 
        (submit)="toSearch('fechaIngreso')">
                    <input class='in' type="date" id="input-fechaIngreso" >
                    <button class="in">
                        Buscar por Fecha
                    </button>
        </form>

</div>

