

<nav class="navbar-inverse">
    <div class="container-fluid">
      <!-- <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div> -->
      <ul class="nav navbar-nav">
      
       <li *ngFor="let item of dataNavBar; let indice=index" routerLink="{{item.path}}" 
       style="cursor: pointer; font-weight: bold"> <a>

            {{item.name}}
            
       </a></li>
      </ul>
     
      <div class="in flr">
        <app-search></app-search>
      </div>
    </div>
  </nav>

