

<div class="in" style="text-align: center; margin: 10px;">

                <div class="inl" style="
                        padding: 10px;
                        border: 2px solid black;
                        cursor: pointer;
                        margin: 5px;
                "
                *ngFor="let item of dataNavBar; let indice=index" routerLink="{{item.path}}">

                    {{item.name}}
                    
                </div>

                <div class="inl">
                    <app-search></app-search>
                </div>

</div>
