
    <form  class="section-form"
    [formGroup]="pacienteForm"
    (submit)="savePaciente()">

                <input class='in' type="text" 
                formControlName="nombre"
                placeholder="Nombre del paciente">

                <input class='in' type="text" 
                formControlName="rut"
                placeholder="Rut">

                <input class='in' type="number" 
                formControlName="edad"
                placeholder="Edad">

                <div class="in" style="margin: 5px">
                    Fecha Ingreso
                </div>

                <input class='in' type="date" 
                formControlName="fechaIngreso"
                placeholder="Fecha Ingreso">

                <input class='in' type="text" 
                formControlName="enfermedad"
                placeholder="Enfermedad">

                <div class="in" style="margin: 5px">
                    Revisado
                </div>

                <input class='in' id="input-revisado" type="radio" >

                <select class='in' id="input-sexo">
                    <option value='' selected disabled style='display: none;'>
                        Seleccionar Sexo
                    </option>
                    <option value='hombre'>Hombre</option>
                    <option value='mujer'>Mujer</option>
                </select>

                <div class="in" style="margin: 5px">
                    Foto Personal
                </div>

                <input (change)="handleFileInput($event)" type="file" accept=".jpg,.png,.gif,.jpeg" >

                <!-- [disabled]="pacienteForm.invalid" -->
                <button type="submit"
                class="in">
                 
                    Enviar
                
                </button>

    </form>
