

<form  class="navbar-form navbar-left"
[formGroup]="searchPacienteForm"
(submit)="searchPaciente()">
            <div class="form-group">
                <input class="form-control"  type="text" 
                formControlName="id"
                placeholder="ID del Paciente">
    
                <button type="submit"
                [disabled]="searchPacienteForm.invalid"
                class="btn btn-default">
                 
                    <i class="fa fa-search"></i>
                
                </button>

            </div>

        

</form>


